#browser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#price .MuiSlider-valueLabel, #time .MuiSlider-valueLabel {
  box-sizing: border-box;
  border: 1px solid #1976d2;
  background-color: white;
  color: #1976d2;
}

#price .MuiSlider-valueLabel::before, #time .MuiSlider-valueLabel::before {
  border-right: 1px solid #1976d2;
  border-bottom: 1px solid #1976d2;
}

.form-slider {
  display: "flex";
  flex-direction: column;
  box-sizing: "border-box";
  padding: "0 40px 0 20px";
  margin-top: "20px";
  align-items: center;
  justify-content: center;
}

.form-slider > span {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0052A5;
}

.autocomplete-container {
  position: relative;
  width: 78%;
  margin-left: -2rem;
  color: #1976d2;
}
.autocomplete-container:focus{
  border: none;
}
.autocomplete-input {
  width: 100%;
  padding: 16px; /* Adjust as needed */
  border: 1px solid #1976d2; /* Match Material-UI's input border */
  border-radius: 4px; /* Match Material-UI's input border-radius */
  font-size: 16px; /* Match Material-UI's font size */
}
.autocomplete-input::placeholder{
  color: #1976d2;
}
.autocomplete-input:focus{
  border: 2px solid #1976d2;
}
.autocomplete-input:hover {
  background-color: #f5f5f5; /* Match Material-UI's hover background color */
}

.suggestions-container {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  border-radius: 4px; /* Match Material-UI's Paper border-radius */
  background-color: white; /* Match Material-UI's Paper background color */
}

.suggestion {
  padding: 16px; /* Adjust as needed */
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0; /* Match Material-UI's hover background color */
}

.submit-button {
  transform: translate(0, -30px);
}