#browser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#price .MuiSlider-valueLabel, #time .MuiSlider-valueLabel {
  box-sizing: border-box;
  border: 1px solid #1976d2;
  background-color: white;
  color: #1976d2;
}

#price .MuiSlider-valueLabel::before, #time .MuiSlider-valueLabel::before {
  border-right: 1px solid #1976d2;
  border-bottom: 1px solid #1976d2;
}

.form-slider {
  display: "flex";
  flex-direction: column;
  box-sizing: "border-box";
  padding: "0 40px 0 20px";
  margin-top: "20px";
  align-items: center;
  justify-content: center;
}

.form-slider > span {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0052A5;
}